[submodule "reco/MarlinTrkProcessors"]
	path = reco/MarlinTrkProcessors
	url = https://github.com/mlittmann/MarlinTrkProcessors

[submodule "SteeringMacros"]
	path = SteeringMacros 
	url = https://github.com/mlittmann/SteeringMacros

[submodule "detector-simulation"]
	path = detector-simulation 
	url = https://github.com/madbaron/detector-simulation.git
